<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Threat Olympus</title>
</head>
<body>
<center>
<header>
    <img src="../static/images/logo.png" alt="logo" height="190">
    <div class="heading">
        <h1>
            <u>WELCOME TO OLYMPUS</u>
        </h1>
    </div>
</header>   
    <div id="para">
        <pre>SELECT FROM THE FOLLOWING SERVICES</pre>    
    </div>

<section>
    <div id="service">
        <a href="zeus.html"><img src="../static/images/zeus.png" alt="ZEUS" height="200px" width="250px"></a>
        <h3 id="head"><u>ZEUS</u></h3>
        <p>WEB APPLICATION THREAT HUNTER</p>
    </div>
    <div id="service">
        <a href="posi.html"><img src="../static/images/posi.png" alt="POSEIDEN" height="210px" width="250px"></a>
        <h3 id="head"><u>POSEIDEN</u></h3>
        <p>NETWORK THREAT INTELLIGENCE</p>
    </div>
    <div id="service">
        <a href="hades.html"><img src="../static/images/hades.png" alt="HADES" height="200px" width="250px"></a>
        <h3 id="head"><u>HADES</u></h3>
        <p>SYSTEM-LEVEL THREAT HUNTER</p>
    </div>
</section>
<footer>
    <hr style="border: none; border-top: 3px solid black;">
    <h4>CREATED BY <br>TEAM THREAT-OLYMPUS</h4>
    <a href="https://github.com/Threat-Olympus"><img src="../static/images/GitHub.png" alt="GitHub" height="50px" width="50px"></a>
</footer>
</center>
</body>
</html>